USE [QLPhongMachTu]
GO
/****** Object:  UserDefinedFunction [dbo].[UF_SelectDonGia]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UF_SelectDonGia](@ID_Thuoc INT)
RETURNs int
AS
BEGIN
	DECLARE @DonGia INT
	SELECT @DonGia = DonGia
	FROM dbo.Thuoc WHERE ID_Thuoc = @ID_Thuoc
	RETURN @DonGia
END
GO
/****** Object:  UserDefinedFunction [dbo].[UF_SelectSoLuong]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UF_SelectSoLuong](@ID_Thuoc INT)
RETURNs int
AS
BEGIN
	DECLARE @Soluong INT
	SELECT @Soluong = SoLuong
	FROM dbo.Thuoc WHERE ID_Thuoc = @ID_Thuoc
	RETURN @Soluong
END
GO
/****** Object:  UserDefinedFunction [dbo].[UF_SelectSoLuongThuocLay]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UF_SelectSoLuongThuocLay](@ID_Thuoc INT)
RETURNs int
AS
BEGIN
	DECLARE @SoluongThuocLay INT
	SELECT @SoluongThuocLay = SUM(SoLuongThuocLay)
	FROM dbo.CT_PhieuKhamBenh 
	WHERE ID_Thuoc = @ID_Thuoc
	GROUP BY ID_Thuoc 
	
	RETURN @SoluongThuocLay
END
GO
/****** Object:  Table [dbo].[Benh]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Benh](
	[ID_Benh] [int] IDENTITY(1,1) NOT NULL,
	[TenBenh] [varchar](255) NULL,
 CONSTRAINT [PK_Benh] PRIMARY KEY CLUSTERED 
(
	[ID_Benh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BK_CT_PhieuKhamBenh]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BK_CT_PhieuKhamBenh](
	[ID_PhieuKham] [int] NOT NULL,
	[ID_Thuoc] [int] NOT NULL,
	[ID_CachDung] [int] NOT NULL,
	[SoLuongThuocLay] [int] NULL,
 CONSTRAINT [PK_BK_CTPhieuKhamBenh] PRIMARY KEY CLUSTERED 
(
	[ID_PhieuKham] ASC,
	[ID_Thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BK_HoaDon]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BK_HoaDon](
	[ID_HoaDon] [int] NOT NULL,
	[ID_PhieuKham] [int] NOT NULL,
	[TienKham] [int] NULL,
	[TienThuoc] [int] NULL,
	[DoanhThu] [int] NULL,
	[GhiChu] [varchar](255) NULL,
 CONSTRAINT [PK_BKHoaDon] PRIMARY KEY CLUSTERED 
(
	[ID_HoaDon] ASC,
	[ID_PhieuKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BK_PhieuKhamBenh]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BK_PhieuKhamBenh](
	[ID_PhieuKham] [int] NOT NULL,
	[ID_BenhNhan] [int] NOT NULL,
	[ID_Benh] [int] NOT NULL,
	[NgayKham] [date] NULL,
	[TrieuChung] [varchar](255) NULL,
 CONSTRAINT [PK_BK_PhieuKhamBenh] PRIMARY KEY CLUSTERED 
(
	[ID_PhieuKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CachDung]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CachDung](
	[ID_CachDung] [int] IDENTITY(1,1) NOT NULL,
	[TenCachDung] [varchar](255) NULL,
	[SoLanDung] [int] NULL,
 CONSTRAINT [PK_CachDung] PRIMARY KEY CLUSTERED 
(
	[ID_CachDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PhieuKhamBenh]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuKhamBenh](
	[ID_PhieuKham] [int] NOT NULL,
	[ID_Thuoc] [int] NOT NULL,
	[ID_CachDung] [int] NOT NULL,
	[SoLuongThuocLay] [int] NULL,
 CONSTRAINT [PK_CTPhieuKhamBenh] PRIMARY KEY CLUSTERED 
(
	[ID_PhieuKham] ASC,
	[ID_Thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonVi](
	[ID_DonVi] [int] IDENTITY(1,1) NOT NULL,
	[TenDonVi] [varchar](255) NULL,
 CONSTRAINT [PK_DonVi] PRIMARY KEY CLUSTERED 
(
	[ID_DonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID_HoaDon] [int] IDENTITY(1,1) NOT NULL,
	[ID_PhieuKham] [int] NOT NULL,
	[TienKham] [int] NULL,
	[TienThuoc] [int] NULL,
	[DoanhThu] [int] NULL,
	[GhiChu] [varchar](255) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID_HoaDon] ASC,
	[ID_PhieuKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoSoBenhNhan]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoSoBenhNhan](
	[ID_BenhNhan] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [varchar](255) NULL,
	[GioiTinh] [bit] NULL,
	[NamSinh] [date] NULL,
	[DiaChi] [varchar](255) NULL,
 CONSTRAINT [PK_HoSoBenhNhan] PRIMARY KEY CLUSTERED 
(
	[ID_BenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuKhamBenh]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuKhamBenh](
	[ID_PhieuKham] [int] IDENTITY(1,1) NOT NULL,
	[ID_BenhNhan] [int] NOT NULL,
	[ID_Benh] [int] NOT NULL,
	[NgayKham] [date] NULL,
	[TrieuChung] [varchar](255) NULL,
 CONSTRAINT [PK_PhieuKhamBenh] PRIMARY KEY CLUSTERED 
(
	[ID_PhieuKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThamSo]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThamSo](
	[ID_ThamSo] [int] IDENTITY(1,1) NOT NULL,
	[GiaTri] [int] NULL,
	[GhiChu] [varchar](255) NULL,
 CONSTRAINT [PK_ThamSo] PRIMARY KEY CLUSTERED 
(
	[ID_ThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Thuoc](
	[ID_Thuoc] [int] IDENTITY(1,1) NOT NULL,
	[ID_DonVi] [int] NOT NULL,
	[TenThuoc] [varchar](255) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[ID_Thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Roles] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Benh] ON 

INSERT [dbo].[Benh] ([ID_Benh], [TenBenh]) VALUES (1, N'Stomach Upset')
INSERT [dbo].[Benh] ([ID_Benh], [TenBenh]) VALUES (2, N'Cold')
INSERT [dbo].[Benh] ([ID_Benh], [TenBenh]) VALUES (3, N'Have a running nose')
SET IDENTITY_INSERT [dbo].[Benh] OFF
INSERT [dbo].[BK_HoaDon] ([ID_HoaDon], [ID_PhieuKham], [TienKham], [TienThuoc], [DoanhThu], [GhiChu]) VALUES (1, 1, 30000, 302669, 332669, N'Nothing')
INSERT [dbo].[BK_HoaDon] ([ID_HoaDon], [ID_PhieuKham], [TienKham], [TienThuoc], [DoanhThu], [GhiChu]) VALUES (2, 2, 30000, 0, 30000, N'Do not have enough drugs')
INSERT [dbo].[BK_HoaDon] ([ID_HoaDon], [ID_PhieuKham], [TienKham], [TienThuoc], [DoanhThu], [GhiChu]) VALUES (3, 3, 30000, 212944, 242944, N'Nothing')
GO
SET IDENTITY_INSERT [dbo].[CachDung] ON 

INSERT [dbo].[CachDung] ([ID_CachDung], [TenCachDung], [SoLanDung]) VALUES (1, N'Taking before breakfast', 3)
INSERT [dbo].[CachDung] ([ID_CachDung], [TenCachDung], [SoLanDung]) VALUES (2, N'Taking after lunch', 4)
INSERT [dbo].[CachDung] ([ID_CachDung], [TenCachDung], [SoLanDung]) VALUES (3, N'Taking before dinner', 2)
SET IDENTITY_INSERT [dbo].[CachDung] OFF
INSERT [dbo].[CT_PhieuKhamBenh] ([ID_PhieuKham], [ID_Thuoc], [ID_CachDung], [SoLuongThuocLay]) VALUES (1, 10, 3, 1)
INSERT [dbo].[CT_PhieuKhamBenh] ([ID_PhieuKham], [ID_Thuoc], [ID_CachDung], [SoLuongThuocLay]) VALUES (2, 29, 1, 0)
INSERT [dbo].[CT_PhieuKhamBenh] ([ID_PhieuKham], [ID_Thuoc], [ID_CachDung], [SoLuongThuocLay]) VALUES (3, 3, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[DonVi] ON 

INSERT [dbo].[DonVi] ([ID_DonVi], [TenDonVi]) VALUES (1, N'Vien')
INSERT [dbo].[DonVi] ([ID_DonVi], [TenDonVi]) VALUES (2, N'Chai')
SET IDENTITY_INSERT [dbo].[DonVi] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([ID_HoaDon], [ID_PhieuKham], [TienKham], [TienThuoc], [DoanhThu], [GhiChu]) VALUES (2009, 1, 30000, 302669, 332669, N'Nothing')
INSERT [dbo].[HoaDon] ([ID_HoaDon], [ID_PhieuKham], [TienKham], [TienThuoc], [DoanhThu], [GhiChu]) VALUES (2010, 2, 30000, 0, 30000, N'Do not have enough drugs')
INSERT [dbo].[HoaDon] ([ID_HoaDon], [ID_PhieuKham], [TienKham], [TienThuoc], [DoanhThu], [GhiChu]) VALUES (2011, 3, 30000, 212944, 242944, N'Nothing')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[HoSoBenhNhan] ON 

INSERT [dbo].[HoSoBenhNhan] ([ID_BenhNhan], [HoTen], [GioiTinh], [NamSinh], [DiaChi]) VALUES (1, N'Hattie Diche', 0, CAST(N'1995-01-12' AS Date), N'138 6th Road')
INSERT [dbo].[HoSoBenhNhan] ([ID_BenhNhan], [HoTen], [GioiTinh], [NamSinh], [DiaChi]) VALUES (2, N'Randell Bridgen', 0, CAST(N'1996-06-12' AS Date), N'9 Carberry Drive')
INSERT [dbo].[HoSoBenhNhan] ([ID_BenhNhan], [HoTen], [GioiTinh], [NamSinh], [DiaChi]) VALUES (3, N'Leonie Frostdick', 0, CAST(N'1995-01-30' AS Date), N'0150 Hoepker Crossing')
GO
SET IDENTITY_INSERT [dbo].[HoSoBenhNhan] OFF
SET IDENTITY_INSERT [dbo].[PhieuKhamBenh] ON 

INSERT [dbo].[PhieuKhamBenh] ([ID_PhieuKham], [ID_BenhNhan], [ID_Benh], [NgayKham], [TrieuChung]) VALUES (1, 45, 1, CAST(N'2012-05-16' AS Date), N'Stomachache')
INSERT [dbo].[PhieuKhamBenh] ([ID_PhieuKham], [ID_BenhNhan], [ID_Benh], [NgayKham], [TrieuChung]) VALUES (2, 732, 3, CAST(N'1998-05-09' AS Date), N'Sneeze')
INSERT [dbo].[PhieuKhamBenh] ([ID_PhieuKham], [ID_BenhNhan], [ID_Benh], [NgayKham], [TrieuChung]) VALUES (3, 485, 4, CAST(N'2004-08-01' AS Date), N'Nasal pain is difficult to breathe')
GO
SET IDENTITY_INSERT [dbo].[PhieuKhamBenh] OFF
SET IDENTITY_INSERT [dbo].[ThamSo] ON 

INSERT [dbo].[ThamSo] ([ID_ThamSo], [GiaTri], [GhiChu]) VALUES (1, 40, N'Maximun of Patient')
INSERT [dbo].[ThamSo] ([ID_ThamSo], [GiaTri], [GhiChu]) VALUES (2, 30000, N'Fee to Examination')
SET IDENTITY_INSERT [dbo].[ThamSo] OFF
SET IDENTITY_INSERT [dbo].[Thuoc] ON 

INSERT [dbo].[Thuoc] ([ID_Thuoc], [ID_DonVi], [TenThuoc], [SoLuong], [DonGia]) VALUES (1, 2, N'Ciclodan', 184, 261975)
INSERT [dbo].[Thuoc] ([ID_Thuoc], [ID_DonVi], [TenThuoc], [SoLuong], [DonGia]) VALUES (2, 1, N'Personal Care Sensitive Skin Deep Cleaning Astringent', 148, 262070)
INSERT [dbo].[Thuoc] ([ID_Thuoc], [ID_DonVi], [TenThuoc], [SoLuong], [DonGia]) VALUES (3, 2, N'Effexor', 282, 212944)
SET IDENTITY_INSERT [dbo].[Thuoc] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID_User], [Username], [Password], [Roles]) VALUES (1, N'admin', N'123456', N'admin')
INSERT [dbo].[Users] ([ID_User], [Username], [Password], [Roles]) VALUES (2, N'user', N'123456', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[BK_CT_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_BK_CachDung] FOREIGN KEY([ID_CachDung])
REFERENCES [dbo].[CachDung] ([ID_CachDung])
GO
ALTER TABLE [dbo].[BK_CT_PhieuKhamBenh] CHECK CONSTRAINT [FK_BK_CachDung]
GO
ALTER TABLE [dbo].[BK_CT_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_BK_PhieuKham] FOREIGN KEY([ID_PhieuKham])
REFERENCES [dbo].[PhieuKhamBenh] ([ID_PhieuKham])
GO
ALTER TABLE [dbo].[BK_CT_PhieuKhamBenh] CHECK CONSTRAINT [FK_BK_PhieuKham]
GO
ALTER TABLE [dbo].[BK_CT_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_BK_Thuoc] FOREIGN KEY([ID_Thuoc])
REFERENCES [dbo].[Thuoc] ([ID_Thuoc])
GO
ALTER TABLE [dbo].[BK_CT_PhieuKhamBenh] CHECK CONSTRAINT [FK_BK_Thuoc]
GO
ALTER TABLE [dbo].[BK_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_BKHoaDon] FOREIGN KEY([ID_PhieuKham])
REFERENCES [dbo].[PhieuKhamBenh] ([ID_PhieuKham])
GO
ALTER TABLE [dbo].[BK_HoaDon] CHECK CONSTRAINT [FK_PhieuKham_BKHoaDon]
GO
ALTER TABLE [dbo].[BK_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_BK_Benh] FOREIGN KEY([ID_Benh])
REFERENCES [dbo].[Benh] ([ID_Benh])
GO
ALTER TABLE [dbo].[BK_PhieuKhamBenh] CHECK CONSTRAINT [FK_BK_Benh]
GO
ALTER TABLE [dbo].[BK_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_BK_BenhNhan] FOREIGN KEY([ID_BenhNhan])
REFERENCES [dbo].[HoSoBenhNhan] ([ID_BenhNhan])
GO
ALTER TABLE [dbo].[BK_PhieuKhamBenh] CHECK CONSTRAINT [FK_BK_BenhNhan]
GO
ALTER TABLE [dbo].[CT_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_CachDung] FOREIGN KEY([ID_CachDung])
REFERENCES [dbo].[CachDung] ([ID_CachDung])
GO
ALTER TABLE [dbo].[CT_PhieuKhamBenh] CHECK CONSTRAINT [FK_CachDung]
GO
ALTER TABLE [dbo].[CT_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham] FOREIGN KEY([ID_PhieuKham])
REFERENCES [dbo].[PhieuKhamBenh] ([ID_PhieuKham])
GO
ALTER TABLE [dbo].[CT_PhieuKhamBenh] CHECK CONSTRAINT [FK_PhieuKham]
GO
ALTER TABLE [dbo].[CT_PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc] FOREIGN KEY([ID_Thuoc])
REFERENCES [dbo].[Thuoc] ([ID_Thuoc])
GO
ALTER TABLE [dbo].[CT_PhieuKhamBenh] CHECK CONSTRAINT [FK_Thuoc]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_HoaDon] FOREIGN KEY([ID_PhieuKham])
REFERENCES [dbo].[PhieuKhamBenh] ([ID_PhieuKham])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_PhieuKham_HoaDon]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_Benh] FOREIGN KEY([ID_Benh])
REFERENCES [dbo].[Benh] ([ID_Benh])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_Benh]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_BenhNhan] FOREIGN KEY([ID_BenhNhan])
REFERENCES [dbo].[HoSoBenhNhan] ([ID_BenhNhan])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_BenhNhan]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonVi] FOREIGN KEY([ID_DonVi])
REFERENCES [dbo].[DonVi] ([ID_DonVi])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_DonVi]
GO
/****** Object:  StoredProcedure [dbo].[SP_BKHoaDon]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BKHoaDon]
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO BK_HoaDon(ID_HoaDon,ID_PhieuKham, TienKham, TienThuoc, DoanhThu, GhiChu) SELECT * FROM dbo.HoaDon

	DELETE FROM dbo.HoaDon
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BKPhieuKhamBenh]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BKPhieuKhamBenh]
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO BK_PhieuKhamBenh(ID_PhieuKham,ID_BenhNhan, ID_Benh,NgayKham,TrieuChung) SELECT * FROM dbo.PhieuKhamBenh
	INSERT INTO BK_CT_PhieuKhamBenh(ID_PhieuKham,ID_Thuoc,ID_CachDung,SoLuongThuocLay) SELECT * FROM dbo.CT_PhieuKhamBenh

	DELETE FROM dbo.PhieuKhamBenh
	DELETE FROM dbo.CT_PhieuKhamBenh
END
GO
/****** Object:  Trigger [dbo].[TG_UpdateSoLuongThuoc]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_UpdateSoLuongThuoc]
ON [dbo].[CT_PhieuKhamBenh]
FOR INSERT,UPDATE
AS
BEGIN
	DECLARE @iD_PhieuKham INT
	DECLARE @iD_Thuoc INT
	DECLARE @soLuongThuocLay INT
	DECLARE @soLuongTon INT
	DECLARE @TienThuoc INT 
	DECLARE @DonGia INT

	SELECT @iD_PhieuKham = Inserted.ID_PhieuKham, @iD_Thuoc = Inserted.ID_Thuoc, @soLuongThuocLay = Inserted.SoLuongThuocLay FROM Inserted
	SELECT @soLuongTon = SoLuong,@DonGia = DonGia FROM dbo.Thuoc WHERE ID_Thuoc = @iD_Thuoc
	
	
	--Tat Insert HoaDon truoc roi moi insert du lieu CT_PhieuKhamBenh
	IF(ISNULL(@soLuongTon,0) > ISNULL(@soLuongThuocLay,0) )
		BEGIN 
			SET @TienThuoc = ISNULL(@soLuongThuocLay,0)*@DonGia
		
			INSERT INTO dbo.HoaDon
			        ( ID_PhieuKham ,
			          TienKham ,
			          TienThuoc ,
			          DoanhThu ,
			          GhiChu
			        )
			VALUES  ( @iD_PhieuKham , -- ID_PhieuKham - int
			          30000 , -- TienKham - int
			          @TienThuoc , -- TienThuoc - int
			          0 , -- DoanhThu - int
			          'Nothing'  -- GhiChu - varchar(255)
			        )
			--INSERT INTO dbo.HoaDon
			--        ( ID_HoaDon ,
			--          ID_PhieuKham ,
			--          TienKham ,
			--          TienThuoc ,
			--          DoanhThu ,
			--          GhiChu
			--        )
			--VALUES  ( @iD_PhieuKham , -- ID_HoaDon - int
			--          @iD_PhieuKham , -- ID_PhieuKham - int
			--          30000 , -- TienKham - int
			--          @TienThuoc , -- TienThuoc - int
			--          0 , -- DoanhThu - int
			--          'Nothing'  -- GhiChu - varchar(255)
			--        )
			
		END
	ELSE
		BEGIN 
			SET @TienThuoc = ISNULL(@soLuongTon,0)*@DonGia
			INSERT INTO dbo.HoaDon
			        ( ID_PhieuKham ,
			          TienKham ,
			          TienThuoc ,
			          DoanhThu ,
			          GhiChu
			        )
			VALUES  ( @iD_PhieuKham , -- ID_PhieuKham - int
			          30000 , -- TienKham - int
			          @TienThuoc , -- TienThuoc - int
			          0 , -- DoanhThu - int
			          'Nothing'  -- GhiChu - varchar(255)
			        )
			--INSERT INTO dbo.HoaDon
			--        ( ID_HoaDon ,
			--          ID_PhieuKham ,
			--          TienKham ,
			--          TienThuoc ,
			--          DoanhThu ,
			--          GhiChu
			--        )
			--VALUES  ( @iD_PhieuKham , -- ID_HoaDon - int
			--          @iD_PhieuKham , -- ID_PhieuKham - int
			--          30000 , -- TienKham - int
			--          @TienThuoc , -- TienThuoc - int
			--          0 , -- DoanhThu - int
			--          'Nothing'  -- GhiChu - varchar(255)
			--        )
			
		END
        
        
	
	--SET @soLuongTon = @SoLuongTon - @soLuongThuocLay	
	
	--IF(@soLuongTon < 0)
	--	BEGIN
	--		UPDATE dbo.Thuoc SET SoLuong = 0 WHERE ID_Thuoc = @iD_Thuoc
	--	END
	--ELSE
	--	BEGIN
	--		UPDATE dbo.Thuoc SET SoLuong = @soLuongTon WHERE ID_Thuoc = @iD_Thuoc
			
	--	END
    
	SET @soLuongTon = @soLuongTon - @soLuongThuocLay
	UPDATE dbo.Thuoc SET SoLuong = @soLuongTon WHERE ID_Thuoc = @id_Thuoc
	
	IF(@soLuongTon < 0)
		BEGIN
			SET @soLuongTon = 0
			SET @soLuongThuocLay = 0
			UPDATE dbo.Thuoc SET SoLuong = @soLuongTon WHERE ID_Thuoc = @id_Thuoc
			UPDATE dbo.CT_PhieuKhamBenh SET SoLuongThuocLay = @soLuongThuocLay WHERE ID_PhieuKham = @id_PhieuKham
		END

END
GO
/****** Object:  Trigger [dbo].[TG_UpdateHoaDonSoLuongThuoc]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_UpdateHoaDonSoLuongThuoc]
ON [dbo].[HoaDon]
FOR DELETE
AS
BEGIN
	DECLARE @iD_PhieuKham INT
	DECLARE @iD_Thuoc INT
	DECLARE @soLuongThuocLay INT 
	DECLARE @soLuong INT 
	DECLARE @soLuongTon INT 

	SELECT @iD_PhieuKham = Deleted.ID_PhieuKham FROM Deleted
	SELECT @iD_Thuoc = ID_Thuoc, @soLuongThuocLay = SoLuongThuocLay FROM dbo.CT_PhieuKhamBenh WHERE ID_PhieuKham = @iD_PhieuKham
	SELECT @soLuong = SoLuong FROM dbo.Thuoc WHERE ID_Thuoc = @iD_Thuoc

	SET @soLuongTon = @soLuong + @soLuongThuocLay
	UPDATE dbo.Thuoc SET SoLuong = @soLuongTon WHERE ID_Thuoc = @iD_Thuoc
END
GO
/****** Object:  Trigger [dbo].[TG_UpdateHoaDonTienThuocDoanhThu]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_UpdateHoaDonTienThuocDoanhThu]
ON [dbo].[HoaDon]
FOR INSERT,UPDATE
AS
BEGIN
	DECLARE @iD_PhieuKham INT
	DECLARE @iD_Thuoc INT
	DECLARE @donGia INT
	DECLARE @soLuongThuocLay INT 
	DECLARE @tienThuoc INT
	DECLARE @doanhThu INT
	DECLARE @tienKham INT
	DECLARE @ghiChu VARCHAR(255)
	

	SELECT @iD_PhieuKham = Inserted.ID_PhieuKham,@tienKham = Inserted.TienKham, @tienThuoc = Inserted.TienThuoc,@doanhThu = Inserted.DoanhThu,@ghiChu = Inserted.GhiChu FROM Inserted
	SELECT @iD_Thuoc = ID_Thuoc, @soLuongThuocLay = SoLuongThuocLay FROM dbo.CT_PhieuKhamBenh WHERE ID_PhieuKham = @iD_PhieuKham
	SELECT @donGia = DonGia FROM dbo.Thuoc WHERE ID_Thuoc = @iD_Thuoc

	SET @tienThuoc = @soLuongThuocLay*@donGia
	SET @doanhThu = @tienKham+@tienThuoc

	UPDATE dbo.HoaDon SET TienThuoc = @tienThuoc, DoanhThu = @doanhThu WHERE ID_PhieuKham = @iD_PhieuKham
	IF(@tienThuoc = 0)
		BEGIN
			SET @ghiChu = 'Do not have enough drugs'
			UPDATE dbo.HoaDon SET GhiChu = @ghiChu WHERE ID_PhieuKham = @iD_PhieuKham
		END
    

END

GO
/****** Object:  Trigger [dbo].[TG_SoLuongBenhNhanToiDaTrongNgay]    Script Date: 5/21/2018 6:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_SoLuongBenhNhanToiDaTrongNgay]
ON [dbo].[PhieuKhamBenh]
FOR INSERT,UPDATE
AS
BEGIN
	DECLARE @ngayKham DATE
	DECLARE @soLuongBenhNhan INT
	DECLARE @iD_BenhNhan INT

	SELECT @ngayKham = Inserted.NgayKham, @iD_BenhNhan = Inserted.ID_BenhNhan FROM Inserted

	SELECT @soLuongBenhNhan = COUNT(ID_BenhNhan) FROM dbo.HoSoBenhNhan WHERE ID_BenhNhan = @iD_BenhNhan

	IF(@soLuongBenhNhan > 40)
		BEGIN
			PRINT 'So benh nhan toi da la 40 nguoi moi ngay'
			ROLLBACK TRANSACTION;
		END
        
END

GO
